<div class="row">
  <div class="col-md-10">
    <h2>Ranking</h2>
    <h3 class="text-danger">1.<%=@ranking_user[0][:user].name%>(<%=@ranking_user[0][:learned_words_count]%>)</h3>
    <h4 class="text-warning">2.<%=@ranking_user[1][:user].name%>(<%=@ranking_user[1][:learned_words_count]%>)</h4>
    <h5 class="text-success">3.<%=@ranking_user[2][:user].name%>(<%=@ranking_user[2][:learned_words_count]%>)</h5>
    <h6 class="text-info">4.<%=@ranking_user[3][:user].name%>(<%=@ranking_user[3][:learned_words_count]%>)</h6>
    <h6 class="text-info">5.<%=@ranking_user[4][:user].name%>(<%=@ranking_user[4][:learned_words_count]%>)</h6>
    <h6 class="text-info">6.<%=@ranking_user[5][:user].name%>(<%=@ranking_user[5][:learned_words_count]%>)</h6>
    <h6 class="text-info">7.<%=@ranking_user[6][:user].name%>(<%=@ranking_user[6][:learned_words_count]%>)</h6>
    <h6 class="text-info">8.<%=@ranking_user[7][:user].name%>(<%=@ranking_user[7][:learned_words_count]%>)</h6>
    <h6 class="text-info">9.<%=@ranking_user[8][:user].name%>(<%=@ranking_user[8][:learned_words_count]%>)</h6>
    <h6 class="text-info">10.<%=@ranking_user[9][:user].name%>(<%=@ranking_user[9][:learned_words_count]%>)</h6>
    ...
    <h6 class="text-dark">10</h6>
  </div>
</div>
