<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide" data-ride="carousel">
  <!--Indicators-->
  <!--/.Indicators-->
  <!--Slides-->
  <div class="row">
    <div>
      <h1>Time</h1>
      <div id="myProgress">
        <div id="myBar"></div>
      </div>
      <br>
      <div>True answer:<span class="true_answer">0</span>|False answer: <span class="false_answer">0</span></div>
      <div class="carousel-inner" role="listbox">
        <% @exam_words.each do |exam_word| %>
          <div id="<%=exam_word[:word].id%>" class="carousel-item 
            <% if @current_word == exam_word[:word] %> active<% end %>" >
            <!--Mask color-->
            <div class="row">
              <div class="col-md-8">
                <h1><%=exam_word[:word].word%></h1>
                <h2><%=exam_word[:word].pronounce%></h2>
              </div>
              <div class="col-md-2 .offset-md-2">
                <br>
                <%= link_to   "Chưa thuộc", user_learned_word_path(exam_word[:word].id),class:"unlearned",id: exam_word[:word].id.to_s+"_unlearned", method: :delete, remote: true , hidden: true%>
                <br>
                <button class = "speech btn" data-text="<%=exam_word[:word].word%>"><i class="fa fa-volume-down icon-play-audio"></i></button>
              </div>
            </div>
            <% if exam_word[:word].image.url.present? %>
              <%= image_tag exam_word[:word].image.url%>
            <% else %>
              <%= image_tag 'default_image.png' %>
            <% end %>
            <div class="row">
              <div class="col-md-4 offset-md-2 btn btn-primary">
                <%= link_to  "A. #{exam_word[:answer][0]}", 
                check_answer_course_path(answer: exam_word[:answer][0],word_id: exam_word[:word].id,answer_at:"#{exam_word[:word].id}_A") ,
                remote: true, class: "btn answer",id: "#{exam_word[:word].id}_A"%>
              </div>
              <div class="col-md-4 btn .offset-md-2 btn-primary">
                <%= link_to  "B. #{exam_word[:answer][1]}", check_answer_course_path(answer: exam_word[:answer][1],word_id: exam_word[:word].id,answer_at:"#{exam_word[:word].id}_B") ,
                remote: true,id: "#{exam_word[:word].id}_B", class: "btn answer"%>
              </div>
              <div class="col-md-4 offset-md-2 btn btn-primary">
                <%= link_to  "C. #{exam_word[:answer][2]}", check_answer_course_path(answer: exam_word[:answer][2],word_id: exam_word[:word].id,answer_at:"#{exam_word[:word].id}_C"),
                remote: true,id: "#{exam_word[:word].id}_C", class: "btn answer"%>
              </div>
              <div class="col-md-4 .offset-md-2 btn btn-primary">
                <%= link_to  "D. #{exam_word[:answer][3]}", check_answer_course_path(answer: exam_word[:answer][3],word_id: exam_word[:word].id,answer_at:"#{exam_word[:word].id}_D"),
                remote: true,id: "#{exam_word[:word].id}_D", class: "btn answer"%>
              </div>
            </div>
          </div>
        <% end %>
        <div class="carousel-item" id="finish_slide">
          Xin chúc mừng bạn đã hoàn thành
        </div>
      </div>
      <!--/.Slides-->
      <!--Controls-->
      <!--/.Controls-->
    </div>
  </div>
</div>
<!--/.Carousel Wrapper-->
<script type="text/javascript">
  $( document ).ready(function() {
    $('.carousel').carousel('pause');
    var elem = document.getElementById("myBar");
    var width = 0;
    var id = setInterval(frame, 10);
    
    function frame() {

        
      if (width == 15000) {
        width = 0;
        console.log(typeof $('.unlearned'))
        if(typeof $('div.active').attr('id') == "undefined"){
          clearInterval(id);
        }
        unlearn = $('div.active').attr('id')+'_unlearned';
        document.getElementById(unlearn).click();
        $('.false_answer').html(parseInt($('.false_answer').html())+1);
        $('.carousel').carousel('next');
      } else {
        width += 10;
        elem.style.width = width/150 + '%';
      }
    }
    $('#carousel-example-2').on('slid.bs.carousel', function (e) {
      $('.carousel').carousel('pause');
      $('.answer').parent().removeClass("btn-danger").addClass( "btn-primary" );
      $('.answer').parent().removeClass("btn-success").addClass( "btn-primary" );
      width = 0
      if (e.to == <%=@exam_words.length%>) {
        document.getElementById('finished').click()
      }
      console.log(e)
    })
  });
</script>
<script>
  $('.carousel').carousel('pause');
  $('.carousel').carousel({
  interval: false,
});
</script>
<%= javascript_pack_tag 'textToSpeech'%>
