<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if @user.avatar.blank? %>
        <%= gravatar_for @user %>
      <%else%>
        <%= image_tag @user.avatar.url%>
      <% end %>
      <h1><%= @user.name %> </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' if logged_in? %>
  </aside>
  <div class="col-md-8">
    <h2>Cac khoa hoc da follow</h2>
    
    <% if current_user.following?(@user) || current_user== @user%>
      <div class="row">
      <% @user.courses.each do |course| %>
        <div class="col-md-3">
          <div class="card show_user">
            <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
            <%= image_tag course.image.url ,class:"card-img-top",alt:"Card image cap" %>
            <div class="card-body">
              <h5 class="card-title"><%=course.course_name%></h5>
              <p class="card-text">Số từ đã học: <%=@user.learned_words_of_course(course.id).count%>/<%= course.words.count %>.</p>
              <%# <a href="#" class="btn btn-primary">Go somewhere</a> %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
    
    
  </div>
</div>
