<article>
  <div class= "words position-relative">
    <div class="row">
      <div class="col-md-4 english">
        <h1>
          <% if !@course.nil? %>
            <a href="<%=learn_course_path(id: @course.id,word_id: word.id) %>">
              <%= word.word%></a>
          <% else %>
            <b> <%= word.word%></b>
          <% end %>
        </h1>
      </div>
      <div class="col-md-4">
        <div>
          <h2><%= word.pronounce%></h2>
        </div>
        <div><b><%= word.meaning%></b></div>
      </div>
      <div class="col-md-4">
        <div>
          <%= image_tag word.image.url %>
          <button class = "speech btn" data-text="<%=word.word%>"><i class="fa fa-volume-down icon-play-audio"></i></button>
        </div>
      </div>
    </div>
  </div>
</article>
