<%= form_tag words_path, :method => "get" do %>
  <div class="row">
    <div class="col-md-2">
      <%= label_tag :course_id, "Khoa hoc" %>
      <%= select_tag(:course_id,options_for_select(@options_course), class:"form-control" ) %>
    </div>
    <div class="col-md-2">
      <%= label_tag :order, "Thu tu sap xep" %>
      <%= select_tag(:order, options_for_select([['A-Z','asc'],['Z-A','desc']]), class:"form-control", ) %>
    </div>
    <div class="col-md-3">
      <%= label_tag :learning_status, "Tinh trang hoc" %>
      <%= select_tag(:learning_status, options_for_select([['Da hoc',1],['Chua hoc',0]]), class:"form-control",include_blank: true ) %>
    </div>
    <div class="col-md-2">
      <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
    </div>
    <div class="col-md-2">
      <%= submit_tag "Tim kiem",class:"form-control btn btn-success"%>
    </div>
  </div>
<% end %>
<hr>
<% if !@words.nil? %>
  <%= render @words %>
  <%# phan trang %>
  <% link = pagy_link_proc(@pagy_a) %>
  <nav aria-label="pager" class="table-pagination" role="navigation">
    <ul class="pagination">
      <% if @pagy_a.prev %>
        <li class="page-item">
          <%== link.call(@pagy_a.prev, '<span class="icon-ic-arrow-left page-link__previous" aria-hidden="true"><i class="fa fa-arrow-left"></i></span>', 'aria-label="previous" class="page-link"') %>
        </li>
      <% else %>
        <li class="page-item disabled">
          <%==link.call(1, '<span class="icon-ic-arrow-left page-link__previous" aria-hidden="true"></span>', 'class="page-link"') %>
        </li>
      <% end %>
      <% @pagy_a.series.each do |item| %>
        <% if item.is_a?(Integer) %>
          <li class="page-item">
            <%== link.call(item, item, 'class=page-link') %>
          </li>
        <% elsif item.is_a?(String) %>
          <li class="page-item active">
            <%= link_to(item, "javascript:void(0)", class: "page-link") %>
          </li>
        <% elsif item == :gap %>
          <li class="page-item disabled">
            <%== link_to("...", "javascript:void(0)", class: "page-link") %>
          </li>
        <% end %>
      <% end %>
      <% if @pagy_a.next %>
        <li class="page-item">
          <%== link.call(@pagy_a.next, '<span class="icon-ic-arrow-right page-link__next" aria-hidden="true"><i class="fa fa-arrow-right"></i></span>', 'aria-label="next" class="page-link"') %>
        </li>
      <% else %>
        <li class="page-item disabled">
          <%== link.call(@pagy_a.last, '<span class="icon-ic-arrow-right page-link__next" aria-hidden="true"></span>', 'class="page-link"') %>
        </li>
      <% end %>
    </ul>
  </nav>
<% end %>
<script>
$('.speech').click(function(){
  console.log($(this).data("text"));
  textToSpeech($(this).data("text"));
})
function textToSpeech(text){
  if ('speechSynthesis' in window) {
    // Speech Synthesis supported 🎉
    var msg = new SpeechSynthesisUtterance();
    msg.text = text;
    window.speechSynthesis.speak(msg);
   }else{
     // Speech Synthesis Not Supported 😣
     alert("Sorry, your browser doesn't support text to speech!");
   }
  }
</script>