<div class="col-md-6 course">
    <h2> <%= link_to course.course_name, course %></a></h2>
    
    <% if logged_in? %>
      
    
    
    <% if current_user.joined_course?(course) %>
    <%= link_to "Tiếp tục", course , class: "btn btn-success" %>
    <% else %>
    <%= form_for(current_user.results.build) do |f| %>
  <div><%= hidden_field_tag :course_id, course.id %></div>
  <%= f.submit "Bắt đầu", class: "btn btn-success" %>
<% end %>
    <% end %>
<% end %>
    <hr>
    <%= link_to image_tag(course.image.url, alt: "Course logo"), course %>
    <ul>
      <li>
        Tổng số từ: <%= course.words.count %>
      </li>
      
      <% if logged_in? %>
         <li>  Số từ đã học: <%=current_user.learned_words_of_course(course.id).count%>/<%= course.words.count %></li>
      <% end %>
       <a href="#" class = "btn btn-success">Kiểm tra</a>
    </ul>
  </div>