<div class="row">
  <div class= "col-md-6 offset-md-3">
    <h2>Add new course</h2>
    <%=form_for(@course , html: {multipart:true}) do |f|%>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label "Name of Course" %>
      <%= f.text_field(:course_name, class: 'form-control') %>
      <%= f.label "Category" %>
      <%= f.select(:category_id, @options_category) %>
      <span class="picture">
        <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
      </span>
      <%= f.submit "Add", class: "btn btn-primary form-control" %>
    <%end%>
  </div>
</div>